.form__block_title {
    width: 330px;
    font-size: 24px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 54px;

}
@media screen and (max-width: 1154px) {
    .form__block_title {
            width: 238px;
            font-size: 18px;
            font-weight: 900;
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 75px;
        }
}