.form {
    width: 430px;
    height: 330px;
    background-color: white;
    color: black;
    position: absolute;
    transform: translate(33vw, 7vh);
    border-radius: 3%;
    z-index: 50;
    animation: animation 1s;
}
@media screen and (max-width: 1154px) {
    .form {
            width: calc(100% - 38px);
            height: 330px;
            transform: translate(19px);
        }
}