.form__block_exit {
    position: absolute;
    top: -32px;
    right: -32px;
    background-color: black;
    border-radius: 50%;
    border: none;
}
.form__block_exit:hover {
    opacity: 0.6;
}
@media screen and (max-width: 1154px) {
    .form__block_exit {
            position: absolute;
            top: -50px;
            right: -5px;
            background-color: black;
            border-radius: 50%;
            border: none;
        }
}
@media screen and (max-width: 1154px) {
    .form__block_exit:hover {
            opacity: 0.6;
        }
}