.gallery__container_item_text-like {
    background-image: url(../images/like.svg);
    border: none;
    background-size: cover;
    width: 22px;
    height: 19px;
    background-color: white;
}
.gallery__container_item_text-like:hover {
    opacity: 0.3;
}