.gallery__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(auto-fit, minmax(361px, max-content));
    column-gap: 17px;
    row-gap: 21px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
@media screen and (max-width: 1154px) {
    .gallery__container {
            grid-template-columns: repeat(1, minmax(282px, max-content));
            grid-template-rows: repeat(auto-fit, minmax(361px, max-content));
            row-gap: 20px;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
}