.footer__author {
    color: gray;
    font-size: 18px;
    margin: 0;
    padding-top: 66px;
    padding-bottom: 60px;

}
@media screen and (max-width: 1154px) {
    .footer__author {
            padding-top: 48px;
            padding-bottom: 36px;
    
        }
}