.form__block_inputs_top {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 1px 0 rgba(124, 139, 137, 0.5);
    padding-bottom: 13px;
}
@media screen and (max-width: 1154px) {
    .form__block_inputs_top {
            margin-bottom: 30px;
            box-shadow: 0 1px 0 rgba(124, 139, 137, 0.5);
            padding-bottom: 13px;
        }
}