.profile__add-image {
    background-color: black;
    width: 150px;
    height: 50px;
    border: 3px solid white
}
.profile__add-image:hover {
    opacity: 0.5;
}
@media screen and (max-width: 1154px) {
    .profile__add-image {
            background-color: black;
            width: 282px;
            height: 50px;
            margin-top: 36px;
            margin-bottom: 36px;
            border: 3px solid white;
        }
}