.form__block_button {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
}
.form__block_button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.form__block_button:active {
    fill: red;
}
@media screen and (max-width: 1154px) {
    .form__block_button {
            width: 100%;
            height: 50px;
            background-color: black;
            color: white;
            border: none;
        }
}
@media screen and (max-width: 1154px) {
    .form__block_button:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
}