.profile__rename_style {
    background-color: black;
    border: none;
    width: 24px;
    height: 24px;
}
.profile__rename_style:hover {
    opacity: 0.5;
}
@media screen and (max-width: 1154px) {
    .profile__rename_style {
            width: 18px;
            height: 18px;
        }
}