.profile__author_type_name {
    font-size: 42px;
    line-height: 48px;
    font-weight: 400;
}
@media screen and (max-width: 1154px) {
    .profile__author_type_name {
            font-size: 23px;
            line-height: auto;
            max-width: 272px;
        }
}